head
  title NotePad
  meta(name='viewport' content='width=device-width')
  link(href='//fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css')
  link(href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

template(name='layout')
  +yield
