global-reset()

*,
*:before,
*:after
  box-sizing border-box
  user-select none

small = 700px
menuWidth = 200px

$center
  position relative
  top 50%
  transform translateY(-50%)

$floatLeft
  float left

$fullHeight
  height 100%

html,
body
  @extend $fullHeight
  font-family: 'Bangers', cursive

body
  background-color #2f2f2f

.hidden
  display none !important

.shown
  opacity 1

header
  position fixed
  line-height 80px
  height 80px
  width 100%

.login-buttons
  float right
  padding-right 50px

.login-buttons > *
  transition all 0.3s ease

.login-buttons
  display inline-block
  cursor pointer
  color #a8f5cb
  font-family 'Open Sans', sans-serif
  font-size 0.8em
  transition color 0.3s ease

.login-buttons > *:hover
  color white

.login-buttons > * + *
  margin-left 20px

.wrapper
  @extend $center
  height 80vh
  margin 0 50px

.header
  height 10vh
  line-height 10vh
  padding-left 10px
  font-size 2em
  letter-spacing 2px
  color rgb(33, 199, 148)
  cursor pointer
  transition all 0.3s ease

.header:hover
  background-color #353734
  color white

.menu
  @extend $floatLeft
  position relative
  padding 20px
  background-color rgb(40, 50, 50)
  color rgb(33, 199, 148)
  font-size 1.5em
  width menuWidth
  height 70vh
  border-right none
  +below(small)
    display none

  & *
    user-select none

  input[type=range]
    border none

  input[type=range] + .thumb.active .value
    color #fff
    font-size 15px
    position relative
    top -10px

  .thumb
    display none

  .select-wrapper input.select-dropdown
    color rgb(33, 199, 148)

  .label
    transform translateY(10px)

.dropdown-content
  max-height 220px

.dropdown-content li
  line-height 0.7
  font-size 1 rem

.modal-content,
.dropdown-content li > span
  font-family 'Open Sans', sans-serif

  .fa
    cursor pointer
    transition color 0.3s ease

  .fa:hover
    color rgb(7, 173, 97)

  .fa + .fa
    margin-left 20px


.notepad
  @extend $floatLeft
  position absolute
  left menuWidth
  height 70vh
  width "calc(100% - %s)" % menuWidth
  cursor pointer

  +below(small)
    width 100%
    left 0

  canvas
    width 100% !important
    height 100% !important

.note
  height calc(70vh / 12)
  cursor pointer

#reveal-layer
  display none
  animation noteWarble 0.4s infinite

@keyframes noteWarble  {
  0% {
    background-color: green
  }
  20% {
    background-color: yellow
  }
  40% {
    background-color: white
  }
  60% {
    background-color: blue
  }
  80% {
    background-color: purple
  }
}
