head
  title NotePad
  meta(name='viewport' content='width=device-width')
  link(href='//fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css')
  link(href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

body
  +notepad

template(name='notepad')
  header
    .login-buttons
      #default.shown
        .sign-in Sign In
        .sign-up Sign Up

      #sign-in.hidden
        input(placeholder='username')
        input(placeholder='password' type='password')

      #sign-up.hidden

  .wrapper
    .header.z-depth-1
      | NotePad

    .menu.z-depth-2
      .octave
        .label OCTAVE &nbsp; #{octave}
        p.range-field
          input(type='range' min='0' max='5', value='{{octave}}')

      .root-note
        .label ROOTNOTE &nbsp; #{rootNote}
        p.range-field
          input(type='range' min='0' max='11', value='{{rootNoteValue}}')

      .wave-shape
        .label #{waveShape}
        p.range-field
          input(type='range' min='0' max='3', value='{{waveShapeValue}}')

    canvas#reveal-layer.notepad.z-depth-2
    canvas#touch-layer.notepad.z-depth-3
