head
  title NotePad
  meta(name='viewport' content='width=device-width')
  link(href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css')
  script(src='//cdn.jsdelivr.net/phaser/2.2.2/phaser.js')
    
body
  +notepad
  
template(name='notepad')
  .wrapper
    .header.z-depth-1
      | NotePad
    .menu.z-depth-2
    canvas#reveal-layer.notepad.z-depth-2
    canvas#touch-layer.notepad.z-depth-3
    
