template(name='users')
  #signIn.modal
    .modal-content
      h4 Sign In

      i.fa.fa-3x.fa-github
      i.fa.fa-3x.fa-facebook
      i.fa.fa-3x.fa-google

      form#login-form
        .input-field
          input#username(type='text')
          label(for='username') username

        .input-field
          input#password(type='password')
          label(for='password') password

        a.cancel.waves-effect.waves-light.btn.red CANCEL
        input.login.waves-effect.waves-light.btn(type='submit' value='SIGN IN')

  #signUp.modal
    .modal-content
      form#sign-up-form
        .input-field
          input#username(type='text')
          label(for='username') username

        .input-field
          input#password(type='password')
          label(for='password') password

        a.cancel.waves-effect.waves-light.btn.red CANCEL
        input.sign-up.waves-effect.waves-light.btn(type='submit' value='SIGN UP')

  #signOut.modal
    .modal-content
      h4 Are you sure?
      a.cancel.waves-effect.waves-light.btn.red CANCEL
      a.sign-out.waves-effect.waves-light.btn SIGN OUT

  header
    if currentUser
      .currentSetting #{currentSetting}

      .login-buttons
        a.user-name Welcome #{userName}
        a.modal-trigger(href='#signOut') Sign Out

    else
      .login-buttons
        a.modal-trigger(href='#signIn') Sign In
        a.modal-trigger(href='#signUp') Sign Up

    if loggingIn
        | Logging in...
