header
  position fixed
  line-height 80px
  height 80px
  width 100%

  a
    color #21C794

.currentSetting
  color: white
  margin-left: 54px
  display: inline-block
  font-size: 2em

.login-buttons
  float right
  padding-right 50px

.login-buttons > *
  transition all 0.3s ease

.login-buttons
  display inline-block
  cursor pointer
  color #a8f5cb
  font-family 'Open Sans', sans-serif
  font-size 0.8em
  transition color 0.3s ease

.user-name
  font-weight bold
  color #31d5ba

.login-buttons > *:hover
  color white

.login-buttons > * + *
  margin-left 20px
