template(name='modals')
  #help.modal
    .modal-content
      h4 Welcome!
      p.
        Cupidatat velit magna id esse consectetur. Eu ea velit occaecat tempor veniam minim non incididunt adipisicing consectetur officia qui in. Fugiat qui ut exercitation dolor excepteur elit ad amet do consectetur. Occaecat officia adipisicing officia velit dolore tempor do. Anim sunt sit amet in incididunt non laboris sint minim consectetur ipsum elit. Qui id ex consectetur magna sint consectetur proident aliquip nulla Lorem nostrud enim quis nisi.

  #save.modal
    .modal-content
      h4 Save Patch
      .input-field
        input#patchName(type='text' autofocus)
        label(for='patchName') New patch..
      a.cancel.waves-effect.waves-light.btn.red CANCEL
      a.sign-out.waves-effect.waves-light.btn SAVE

  #load.modal
    .modal-content
      h4 Load Patch
      a.cancel.waves-effect.waves-light.btn.red CANCEL
      a.sign-out.waves-effect.waves-light.btn LOAD
