template(name='modals')
  #help.modal
    .modal-content
      h1 For Those Who Hate Manuals...
      .card.blue-grey
        .card-content.white-text
          span.card-title Just Jam
          p Click on the grey bars in the centre of the screen.
      h1 For Those Who Like Manuals
      .card.blue-grey
        .card-content.white-text
          span.card-title Log In
          p Go to upper Right and click 'Sign In'.
          p Follow instructions from there
      .card.blue-grey
        .card-content.white-text
          span.card-title Sign Up
          p Click the 'Sign Up' link at top right of app. Enter Username/Password
          p Press 'Sign Up' button
      h1 Default Panel
      .card.blue-grey
        .card-content.white-text
          span.card-title Controls
          p On the default settings panels are following options
          ul
            li Volume: This controls the overall volume
            li Octave: Default is 2 ( middle C range )
            li Instrument Sound: Sine, Sawtooth, or Square
            li Decay: Add decay for a smoother transition between notes
      .card.blue-grey
        .card-content.white-text
          span.card-title Modes
          p Think of this as 'key types' like Major or Minor. Only with more options
      .card.blue-grey
        .card-content.white-text
          span.card-title Modes
          p Think of this as 'key types' like Major or Minor. Only with more options
      h1 Left Panel
      .card.blue-grey
        .card-content.white-text
          span.card-title Tempo
          p Use the slider to adjust the tempo of the playback
      .card.blue-grey
        .card-content.white-text
          span.card-title Backing Chord Progression
          p This will select the backing track's chord progression
      .card.blue-grey
        .card-content.white-text
          span.card-title Key
          p Right now the default Key is 'A'
      .card.blue-grey
        .card-content.white-text
          span.card-title Backing instrument
          p Instrument type for accompaniment. Default 'Organ'
      h1 Top row controls
      .card.blue-grey
        .card-content.white-text
          span.card-title Record/Playback
          p Playback starts backing track. Record starts recording



  #save.modal
    .modal-content
      h4 Save Settings
      form.save-settings
        .input-field
          input#settingName(type='text' autofocus)
          label(for='settingName') Name
        a.cancel.waves-effect.waves-light.btn.red CANCEL
        input.sign-out.waves-effect.waves-light.btn(type='submit' value='SAVE')

  #load.modal
    .modal-content.settings
      h4 Load Patch

      form.load-setting
        .settings-list
          +each settings
            .setting
              input(name='settings' type='radio' id='{{name}}' checked='{{equals name currentSetting}}')
              label(for='{{name}}') #{name}

        a.cancel.waves-effect.waves-light.btn.red CANCEL
        input.sign-out.waves-effect.waves-light.btn(type='submit' value='LOAD')
